body {
}

header {
  height: 125px;
  text-align: center;
  background-color: #eee;
}

header h1 {
  position: relative;
  top: 45px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
}

main {
  background-color: #b4d7e7;
  height: 525px;
  text-align: center;
  background: rgb(208,224,247);
  background: rgb(208,224,247);
background: -webkit-linear-gradient(rgba(208,224,247,1) 0%, rgba(255,255,255,1) 55%);
background: -o-linear-gradient(rgba(208,224,247,1) 0%, rgba(255,255,255,1) 55%);
background: linear-gradient(rgba(208,224,247,1) 0%, rgba(255,255,255,1) 55%);
}

#search {
  position: relative;
  top: 120px;
}

button {
  font-family: 'Varela Round', sans-serif;
}

footer {
  background-color: #4393d9;
  height: 65px;
}

footer p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  float: right;
  padding: 15px 10px;
}
/*header h1  {
  text-align: center;
  background-color: green;
  margin: 0;
  padding: 0;
}
header {
  box-shadow: 0 8px 6px -6px black;
  background-color: red;
  margin: 0;
  padding: 0;
  width: 100%;
}
main {
  text-align: center;
  background-color: #e7e7e7;
  margin: 0;
  padding: 0;
  height: 580px;
}

#search {
  position: relative;
  top: 75px;
}

footer p {
  float: right;
  font-style: italic;
}
*/
